.solitaireHud {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .2s ease;
}

.timer {
    width: 6.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #d1d1d1;
    font-family: var(--font-outfit);
    font-weight: 300;
    background-color: #00000059;
}

.gameBtn {
    width: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #7171b8;
    border-left: .1rem solid #3a3a3a;
    cursor: pointer;
}

.undoBtn {
    color: #64a75e;
    font-size: 1.5rem;

    &:hover {
        background-color: #64a75e !important;
        color: #cecece !important;
    }
}

.restartBtn {
    color: #7171b8;
    font-size: 1.5rem;

    &:hover {
        color: #cecece !important;
    }
}

.abandonGameBtn {
    font-size: 1.5rem;
    color: #832926;

    &:hover {
        background-color: #832926 !important;
        color: #cecece !important;
    }
}