.solitaireTableContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.boardWrapper {
    padding-top: 1.5rem;
    width: fit-content;
    margin: 0 auto;
}

.topBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}

.foundationsContainer {
    height: 100%;
    display: grid;
    margin-left: .49rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    .foundation {
        border: .15rem dotted #52528d;
    }

    .emptyFoundationSymbols {
        font-size: 2.2rem;
        color: #52528d;
        line-height: .2rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        letter-spacing: .2rem;

        .redSymbol {
            color: #862619;
        }
    }
}

.stockAndWasteContainer {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    margin-right: .5rem;
}

.stock {
    margin-left: .5rem;
    z-index: 5;
}

.drawPile {
    border: .1rem solid #616161d0;

    .emptyPileSymbOuter {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .emptyPileSymbInner {
        width: 4rem;
        height: 4rem;
        border: .35rem solid #830d0db7;
        border-radius: 50%;
    }
}

.waste {
    display: flex;
    flex-direction: row;
    min-width: 13rem;

    &>*+* {
        margin-left: -7rem;
    }

}

.tableauContainer {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: .2rem;
    margin-top: 1.5rem;
}

.tableauColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: .5rem;
    margin-right: .5rem;
}

.cardPlaceholder {
    width: 9rem;
    height: 12rem;
    border-radius: .5rem;
    background-color: #15141a;
}

.tableauEmptyCol {
    border: .1rem solid #af640e;
}